@model IEnumerable<SwapShop.Models.BarterItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Available Barter Items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="flex-wrap" style="flex-direction:column; display:inline-flex">

    <div class="card text-white bg-info m-3" style="max-width: 15rem; align-content:center; text-align: center">
        <div class="card-header">
            <td>
                <a href="@Url.Action("Details", "Users",  new { Id = item.AppUserId })">
                    @Html.DisplayFor(modelItem => item.AppUser.TagName)
                </a>
            </td>
            <br />
            <br/>
                    @if (item.ImagePath == null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.ImagePath)
                        </td>
                        <td>
                            <a asp-controller="BarterItems" asp-action="Details" asp-route-id="@item.BarterItemId">
                                @Html.ActionLink(item.Title, // <-- Link text
                                "Details", // <-- Action Method Name
                                "BarterItems", // <-- Controller Name
                                new { Id = item.BarterItemId }, // <-- Route value
                                null // <-- htmlArguments
                                )
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <br />
                        <td>
                            <a href="@Url.Action("Details", "BarterItems",  new { Id = item.BarterItemId })">
                                <img src="~/images/@item.ImagePath" , style="width: 6em; height: auto;">
                            </a>
                        </td>
                    }
  
        </div>
    <div class="card-body">

        <h4 class="card-title"></h4>
        <p class="card-text">
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <br />
            <br />
            <td>
                <a href='@Url.Action("Search","Home")?searchBar=@item.BarterType.Title'>@item.BarterType.Title</a>
            </td>
            <br />
            <br />
            <td>
                <a href='@Url.Action("Search","Home")?searchBar=@item.Value'>(@item.Value)
                @if (item.Value == 1)
                {
                    <td>
                    Abundant
                </td>
            }
                @if (item.Value == 2)
                {
                    <td>
                        Balanced
                    </td>
                }
                @if (item.Value == 3)
                {
                    <td>
                        Scarce
                    </td>
                }
                    </a>
                </td>
                <br />
                <td>
                    <a href='@Url.Action("Search","Home")?searchBar=@item.AppUser.Location'>@item.AppUser.Location</a>
            </p>

   


    </div>
    </div>
    </div>
            }
