@model BackendCapstone.Models.ViewModels.Trades.TradeValueViewModel

@{
    ViewData["Title"] = "Details";
}

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@if (UserManager.GetUserAsync(User).Result.Id == Model.Details.Trade.SenderId && Model.SenderValue == 0)
{
    <a href='@Url.Action("Trade","Trades" )?receiverId=@Model.Details.Trade.ReceiverId.ToString()&senderId=@Model.Details.Trade.SenderId.ToString()&tradeId=@Model.Details.Trade.TradeId'>Start Trade</a>
}
@if (UserManager.GetUserAsync(User).Result.Id == Model.Details.Trade.SenderId && Model.SenderValue > 0 && Model.ReceiverValue == 0)
{
    <td>
        Waiting for @Model.Details.Trade.Receiver.TagName's response
    </td>
}
@if (UserManager.GetUserAsync(User).Result.Id == Model.Details.Trade.ReceiverId && Model.SenderValue > 0 && Model.ReceiverValue == 0)
{
    <a href='@Url.Action("Trade","Trades" )?receiverId=@Model.Details.Trade.ReceiverId.ToString()&senderId=@Model.Details.Trade.SenderId.ToString()&tradeId=@Model.Details.Trade.TradeId'>Complete Trade</a>
}
@if (UserManager.GetUserAsync(User).Result.Id == Model.Details.Trade.ReceiverId && Model.SenderValue > 0 && Model.ReceiverValue > 0 && Model.Details.Trade.Accepted == false)
{
    <td>
        Waiting for @Model.Details.Trade.Sender.TagName's acceptance
    </td>
}
@if (UserManager.GetUserAsync(User).Result.Id == Model.Details.Trade.SenderId && Model.SenderValue > 0 && Model.ReceiverValue > 0 && Model.Details.Trade.Accepted == false)
{
    <td>
       Please confirm your trade below to complete
    </td>
}

@if (UserManager.GetUserAsync(User).Result.Id == Model.Details.Trade.SenderId && Model.Details.Trade.IsCompleted == true)
{
    <h1> Your Trade with @Model.Details.Trade.Receiver.TagName.</h1>
    <p>Trade Completed</p>
}
@if (UserManager.GetUserAsync(User).Result.Id == Model.Details.Trade.ReceiverId && Model.Details.Trade.IsCompleted == true)
{
    <h1> Your Trade with @Model.Details.Trade.Sender.TagName.</h1>
    <p>Trade Completed</p>
}


<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Details.Trade.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details.Trade.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details.Trade.DateCompleted)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <td>
        @Html.DisplayFor(model => model.Details.Trade.Message)
    </td>
    <td>
        @Html.DisplayFor(model => model.Details.Trade.DateCreated)
    </td>
    <td>
        @Html.DisplayFor(model => model.Details.Trade.DateCompleted)
    </td>
    </tbody>
</table>


<table class="table">
    <h5>
        @Model.Details.Trade.Receiver.TagName's Items
    </h5>
    <h6>
        Total Value Requested: @Model.SenderValue
    </h6>
    @foreach (var item in Model.Items.SelectedItems.Where(i => i.BarterItem.AppUserId == Model.Items.Trade.ReceiverId))
    {
        <tr>
            <td>
                <img src="~/images/@item.BarterItem.ImagePath" , style="width: 3em; height: auto;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarterItem.Title)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.RequestedAmount)
                </td>
            <td>
            </td>

        </tr>
    }
</table>

<table class="table">
    <h5>
        @Model.Details.Trade.Sender.TagName's Items
    </h5>
    <h6>
        Total Value Returned: @Model.ReceiverValue
    </h6>
    @foreach (var item in Model.Items.SelectedItems.Where(i => i.BarterItem.AppUserId == Model.Items.Trade.SenderId))
    {

        <tr>
            <td>
                <img src="~/images/@item.BarterItem.ImagePath" , style="width: 3em; height: auto;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarterItem.Title)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.RequestedAmount)
                </td>*@
            <td>
            </td>

        </tr>
    }
</table>
<table>
    <tr>
    </tr>
</table>

@if (Model.SenderValue > 0 && Model.ReceiverValue > 0 && Model.Details.Trade.Accepted == false && Model.SenderValue == Model.ReceiverValue && Model.Details.Trade.Sender.Id == UserManager.GetUserAsync(User).Result.Id)
{
    <h4>
        Would you like you to accept this trade?
    </h4>
    <form asp-action="Complete" asp-route-id="@Model.Details.TradeId">
        <div class="form-group">
            <input type="hidden" asp-for="Details.Trade.TradeId" value="@Model.Details.TradeId" />
            <input type="submit" value="Yes" class="btn btn-primary" />
        </div>
    </form>

    <a href='@Url.Action("EditTrade", "Trades")?receiverId=@Model.Details.Trade.ReceiverId.ToString()&senderId=@Model.Details.Trade.SenderId.ToString()&tradeId=@Model.Details.Trade.TradeId'>No</a>
}

@*<td>
        <a asp-action="Edit" asp-route-id="@item.TradeId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.TradeId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.TradeId">Delete</a>
    </td>*@