@model BackendCapstone.Models.ViewModels.Trades.TradeDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@*maybe this button can be a view to render users to request*@
@*<p>
        <a asp-action="Create" asp-controller="Trade">Create New Request</a>
    </p>*@

@if (UserManager.GetUserAsync(User).Result.Id == Model.Trade.ReceiverId && Model.Trade.IsCompleted == false)
{

    <h1> Your Trade with @Model.Trade.Receiver.TagName.</h1>
    <td>
        Waiting for your @Model.Trade.Receiver.TagName's Response
    </td>

}
else
{
    <h1>Your Trade with @Model.Trade.Sender.TagName.</h1>
    <td>
        <a href='@Url.Action("Trade","Trades" )?receiverId=@Model.Trade.ReceiverId.ToString()&senderId=@Model.Trade.SenderId.ToString()&tradeId=@Model.Trade.TradeId'>Complete Trade</a>
    </td>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trade.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trade.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trade.DateCompleted)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <td>
        @Html.DisplayFor(model => model.Trade.Message)
    </td>
    <td>
        @Html.DisplayFor(model => model.Trade.DateCreated)
    </td>
    <td>
        @Html.DisplayFor(model => model.Trade.DateCompleted)
    </td>
    </tbody>
</table>
<table class="table">
    @Model.Trade.Receiver.TagName's items
    @foreach (var item in Model.AssociatedTrades.Where(i => i.Trade.ReceiverId == i.BarterItem.AppUserId))
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.BarterItem.Title)
            </td>

        </tr>
    }
</table>

<table class="table">

    @Model.Trade.Sender.TagName's items
    @foreach (var item in Model.AssociatedTrades.Where(i => i.Trade.SenderId == i.BarterItem.AppUserId))
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.BarterItem.Title)
            </td>

        </tr>
    }
</table>
<table>
    <td>
        Total Sender Value: @Model.SenderValue
        Total Receiver Value: @Model.ReceiverValue
    </td>
</table>

@if (Model.SenderValue != 0 && Model.ReceiverValue != 0 && Model.Trade.IsCompleted == false && Model.SenderValue == Model.ReceiverValue)
{
    <h4>
        Would you like you to accept this trade?
    </h4>

    <td>
     @Html.ActionLink("Yes", "Complete", "Trades")
       
    </td>

}


@*<td>
        <a asp-action="Edit" asp-route-id="@item.TradeId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.TradeId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.TradeId">Delete</a>
    </td>*@