@model SwapShop.Models.ViewModels.Profile.UserProfileViewModel
@{
    ViewData["Title"] = "Details";
}

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager


        <h1 style="color:goldenrod">@Model.User.TagName</h1>
    
<table>
        <tt>
            <img src="~/images/@Model.User.ImagePath" , style="width: 8em; height: auto;">
        </tt>
        <br />
        <td>
            <a href='@Url.Action("Search","Home")?searchBar=@Model.User.Location'>@Model.User.Location</a>
        </td>
</table>
<div>
    @if (UserManager.GetUserAsync(User).Result.Id == Model.AppUserId)
    {
        <a type="button" class="btn btn-dark" style="background-color:indianred"
           asp-controller="Users" asp-action="Edit" asp-route-id="@Model.AppUserId">
            Edit Profile Information
        </a>
    }
@if (UserManager.GetUserAsync(User).Result.Id != Model.AppUserId && Model.BarterItems.Where(bt => bt.AppUserId == Model.AppUserId) != null)
    {
        <a type="button" class="btn btn-dark" style="background-color:indianred"
           asp-controller="Trades" asp-action="Create" asp-route-id="@Model.AppUserId">
            Make Barter Request
        </a>

    }
</div>

<table class="table">
    @if (UserManager.GetUserAsync(User).Result.Id == Model.AppUserId && Model.SentTrades.Count > 0)
    {

        <th>
            @Html.DisplayNameFor(model => model.SentTrades)
        </th>


        @foreach (var item in Model.SentTrades)
        {
            <tbody>
            <td>
                <a asp-controller="Trades" asp-action="Details" asp-route-id="@item.TradeId">
                    @Html.ActionLink(item.Message, // <-- Link text
                      "Details", // <-- Action Method Name
                      "Trades", // <-- Controller Name
                      new { Id = item.TradeId }, // <-- Route value
                      null // <-- htmlArguments
                      )
                </a>
            </td>
            </tbody>
        }

    }

    @if (UserManager.GetUserAsync(User).Result.Id == Model.AppUserId && Model.CompletedTrades.Count > 0)
    {


        <th>
            @Html.DisplayNameFor(model => model.CompletedTrades)
        </th>


        @foreach (var item in Model.CompletedTrades)
        {


            <tbody>
            <td>
                <a asp-controller="Trades" asp-action="Details" asp-route-id="@item.TradeId">
                    @Html.ActionLink(item.Message, // <-- Link text
                   "Details", // <-- Action Method Name
                   "Trades", // <-- Controller Name
                   new { Id = item.TradeId }, // <-- Route value
                   null // <-- htmlArguments
                   )
                </a>
            </td>
            </tbody>
        }
    }

    @if (UserManager.GetUserAsync(User).Result.Id == Model.AppUserId && Model.ReceivedTrades.Count > 0)
    {
 
            <th>
                @Html.DisplayNameFor(model => model.ReceivedTrades)
            </th>
 

            @foreach (var item in Model.ReceivedTrades)
            {


                <tbody>
                <td>
                    <a asp-controller="Trades" asp-action="Details" asp-route-id="@item.TradeId">
                        @Html.ActionLink(item.Message, // <-- Link text
                       "Details", // <-- Action Method Name
                       "Trades", // <-- Controller Name
                       new { Id = item.TradeId }, // <-- Route value
                       null // <-- htmlArguments
                       )
                    </a>
                </td>
                </tbody>
            }
        }
       
</table>
   


<table class="table">

    @if (Model.BarterItems.Count > 0)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BarterItems)
            </th>

        </tr>
        @foreach (var item in Model.BarterItems)
        {
            <tbody>
                <tr>
                    @if (item.ImagePath == null)
                    {

                        <th>
                            @Html.DisplayNameFor(model => item.ImagePath)
                        </th>
                        <td>
                            <a asp-controller="BarterItems" asp-action="Details" asp-route-id="@item.BarterItemId">
                                @Html.ActionLink(item.Title, // <-- Link text
                  "Details", // <-- Action Method Name
                  "BarterItems", // <-- Controller Name
                  new { Id = item.BarterItemId }, // <-- Route value
                  null // <-- htmlArguments
                  )
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    }
                    else
                    {
                        <td>
                            <a href="@Url.Action("Details", "BarterItems", new { Id = item.BarterItemId })">
                                <img src="~/images/@item.ImagePath" , style="width: 4em; height: auto;">
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    }

                    @if (UserManager.GetUserAsync(User).Result.Id == item.AppUserId)
                    {
                        <td>
                            <a asp-controller="BarterItems" asp-action="Edit" asp-route-id="@item.BarterItemId">Edit </a>
                            <a asp-controller="BarterItems" asp-action="Delete" asp-route-id="@item.BarterItemId">Delete</a>
                        </td>
                    }

                </tr>
            </tbody>
                    }
        
    }
</table>